@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Сброс базовых стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основной контейнер страницы */
html, body {
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.02em;
    color: #333;
    overflow-x: hidden;
}

:root {
    --btn-width: 311px;
    --btn-height: 57px;
    --btn-bg-color: #fff;
    --btn-text-color: #000;
    --btn-font-size: 17px;
    --btn-border-radius: 16px;
}

/* Контентная область */
.hero-container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 48px auto;
    padding: 0 15px;
    position: relative;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background: #131314 url('img/bg-main.png') center top / cover no-repeat;
    width: 100%;
    color: #fff;
    font-size: 17px;  
}

.hero-dark {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: left;
    background: #131314 url('img/bg-dark.jpg') center top / cover no-repeat;
    width: 100%;
    color: #fff;
    font-size: 17px;  
}

.hero-content {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;   
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
}

.hero-main {
    max-width: 680px;
    margin-left: auto;
    margin-right: 30px;
}

.hero-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-logo p {
    font-weight: 500;
    margin-left: 30px;
}

.hero-content img {
    width: 100%;
    max-width: 640px;
    height: auto;
}

.hero-text {
    max-width: 600px;
}

h1 {
    font-size: 3.13rem;
    line-height: 1;
    font-weight: 600;
    margin-top: 98px;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}

.hero-text p {
    line-height: 1.35;
    margin-top: 24px;
    font-weight: 400;
    letter-spacing: -0.02em;
    opacity: 0.6;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--btn-width);
    height: var(--btn-height);
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-size: var(--btn-font-size);
    border-radius: var(--btn-border-radius);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    margin-top: 32px;
}

.red {
    background-color: #E23065;
    color: #fff;
}

.btn:hover {
    opacity: 0.6;
}

.stats {
    display: grid;
    place-items: center end;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки равной ширины */
    gap: 14px;
    align-items: center; /* Вертикальное выравнивание */
    justify-items: center; /* Горизонтальное выравнивание */
}

.stat {
    background: #E23065;
    padding: 24px;
    border-radius: 20px;
    color: #fff;
    width: 230px;
    height: 115px;
    text-align: center;
 }

 .stat-num {
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.2;
 }

 .stat-text {
    opacity: 0.7;
    display: block;
    margin-top: 10px;
}

.steps {
    padding-bottom: 50px;
}

.step img {
    margin-right: 18px;
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    margin-top: 24px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #CED1D5;
}

.step-title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: auto;
    margin-bottom: 10px;
}

.step-text {
    display: block;
    color: #A8ADB4;
}

.consultation-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    gap: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    padding-bottom: 72px;
    width: 100%;
    overflow: hidden;
    
}

.consultation-card {
    width: 100%;
    max-width: 304px;
    border-radius: 20px;
    border: 1px solid #CED1D5;
    font-size: 15px;
    white-space: normal;
    scroll-snap-align: start;
}

.slick-list {
    padding: 0 !important;
}

.slick-slide {
    margin: 0 10px; /* 10px с каждой стороны = 20px между слайдами */
  }
  
  .slick-list {
    margin: 0 -10px; /* Компенсируем внешние отступы */
  }

.slick-dots {
    position: absolute;
    bottom: 20px; /* Отступ снизу */
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Запрещаем перенос на новую строку */
    width: auto;
    white-space: nowrap;
}

.slick-dots li {
    margin: 0 5px; /* Расстояние между точками */
    flex-shrink: 0; /* Запрещаем сжатие */
  }

  .slick-dots li button {
    text-indent: -9999px; /* Дополнительное скрытие текста */

  }

  .slick-dots button {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: none;
}

.slick-active button {
    background: #E23065;
    opacity: 1;
    width: 32px;
    border-radius: 10px;
}

.tarot-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    gap: 20px;
    overflow: hidden;
    padding-bottom: 72px;
    width: 100%;
    overflow: hidden;    
}

.tarot-card {
    position: relative;
    width: 307px;
    height: 500px;
    border-radius: 20px;
    font-size: 15px;
    white-space: normal;
    
}

.tarot-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

.tarot-card-content {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 20px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tarot-card-line {
    position: absolute;
    font-size: 13px; 
    top: 20px;
    left: 20px;
    color: #0DC100;
}

.tarot-card-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.tarot-card-specialties {
    font-size: 15px;
    margin-bottom: 12px;
    color: #D8D3D2;
}

.tarot-card-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.tarot-card-stat-value {
    display: inline-flex;
    word-wrap: break-word;
    align-items: center;
    background-color: #29292B;
    padding: 4px 14px;
    border-radius: 30px;
    font-size: 13px;
    gap: 4px;
    width: fit-content;
}

.tarot-card-stat-value svg {
    width: 24px;
    height: 24px;
    fill: none;
}

.hero-dark .slick-active button {
    background: #fff;
}

.slick-arrow {
    position: absolute;
    background: none;
    cursor: pointer;
    border: none;
    top: 0;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    right: 75px;
}

.slick-disabled {
    opacity: 0.4;
}

.client-info {
    padding: 24px 20px;
    border-bottom: 1px solid #CED1D5;
    height: 238px;
}

.expert-response {
    padding: 24px 20px;
    background-color: #F5F6F6;
    height: 223px;
    overflow: hidden;
    border-radius: 0 0 20px 20px; 
}

.expert-response > p {
    color: #E23065;
    margin-bottom: 16px;
    font-size: 200;
}

.client-photo, .expert-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.client-photo img, .expert-photo img {
    margin-right: 12px;
}

.client-info p, .expert-response p {
    letter-spacing: -0.02em;
    line-height: 1.35;
    font-weight: 400;
}

.client-photo p, .expert-photo p {
    color: #A8ADB4;
    font-size: 15px;
}

.client-photo strong, .expert-photo strong {
    color: #000;
    font-size: 17px;
    font-weight: 500;
}

.audio-message {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 14px 16px;
    width: 100%;
}

.play-button {
    width: 36px;
    height: 36px;
    background: #E23065;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button svg {
    width: 18px;
    height: 18px;
}

.waveform {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8px;
    overflow: hidden;
    height: 36px;
}

.bar {
    width: 2px;
    background: #CDCDCF;
    border-radius: 100px;
    transition: opacity 0.1s linear;
}

.time {
    font-size: 13px;
    color: #A8ADB4;
}


.footer {
    padding: 32px 0;
    text-align: center;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 колонки равной ширины */
    gap: 20px;
}

.advantage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid #CED1D5;
    text-align: center;
    height: 242px;
    font-size: 15px;
}

.advantage img {
    margin: 0 auto 18px;
}

.advantages .slick-dots {
    bottom: -45px;
}









  
 





/* Ретина */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
    
    




}



/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .stats {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки на мобильных */
      }

    .hero-content {
        flex-direction: column;
        margin-top: 54px;
    }


    .hero {
        font-size: 13px;  
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;    }

    .hero-main {
        margin-right: 15px;
    }

    :root {
        --btn-width: 100%;
    }

    .stat {
        padding: 16px;
        width: 100%;
        height: auto;
     }
    
     .stat-num {
        font-size: 20px;
        font-weight: 600;
     }
    
     .stat-text {
        font-size: 13px;
        letter-spacing: -0.02em;
    }

    .step-title {
        font-size: 15px;
        margin-bottom: 4px;
    }
    
    .step-text {
        font-size: 13px;
    }

    .footer {
        padding-top: 64px;
    }

    .consultation-card, .tarot-card {
        min-width: 90vw;
    }
    
    .advantages {
        display: flex;
    }
}
